<!DOCTYPE html>
<html>
<head>
    <title>Detalles del Medico</title>
</head>
<body>
    <h2>Detalles del Medico</h2>
    <p><strong>Nombre:</strong> {{ medico.nombre }}</p>
    <p><strong>Apellido:</strong> {{ medico.apellido }}</p>
    <p><strong>Email:</strong> {{ medico.email }}</p>
    <p><strong>Institucion:</strong> {{ medico.institucion }}</p>
    <p><strong>Informe:</strong> {{ medico.informe }}</p>
    <p><strong>Mamografia:</strong> {{ medico.mamografia }}</p>
    
    <a href="/Oncoliq/inicio">Volver</a>
</body>
</html>
