<div>
    {% extends "Oncoliq/paciente/paciente.html" %}
    {% load static %}

    {% block setPaciente %}
        <p>Crear Paciente</p>
        <form action="/Oncoliq/setPaciente/"    method="POST">{% csrf_token %}
            <!--table>
                {{ miFormulario.as_table }}
            </table-->
            <input placeholder="Nombre" type = "text" name="nombre" required>
            <input placeholder="Apellido" type = "text" name="apellido" required>
            <input placeholder="Email" type = "email" name="email" required>
            

            <input class="btn btn-primary" type = "submit" value="Enviar">
         </form>
         
    {% endblock %} 
</div>