<!DOCTYPE html>
<html>
<head>
    <title>Detalles del Laboratorio</title>
</head>
<body>
    <h2>Detalles del Laboratorio</h2>
    <p><strong>Laboratorio:</strong> {{ laboratorio.laboratorio }}</p>
    <p><strong>Operario:</strong> {{ laboratorio.operario }}</p>
    <p><strong>Email:</strong> {{ laboratorio.email }}</p>
    <p><strong>Equipo:</strong> {{ laboratorio.equipo }}</p>
    <p><strong>Fecha:</strong> {{ laboratorio.fecha }}</p>
    <p><strong>Resultado:</strong> {{ laboratorio.resultado }}</p>
    
    <a href="/Oncoliq/inicio">Volver</a>
</body>
</html>
