
<br>
<br>


    <div class="container">
       <h2 class="text-center text-dark">
           Acerca de Mi
       </h2>
       <br>
       <div class="row g-4">
           <div class="col-md-6 col-lg-3">
               <div>
                    <div>
                    <h3>Marcelo Alcalde</h3>
                    <p>Python dev Jr</p>
                    <p>Sigueme en:</p>
                    <a href="https://www.linkedin.com/in/marcelo-alcalde-448464178/">Linkedin<i class="bi bi-linkedin text-dark mx-1"></i></a>
                    </div>
               </div>
           </div>
           <div class="col">
            <div class="">
                 <div class="text-center">
                    <p>Hola! Espero que esten disfrutando de mi aplicacion creada en lenguaje Python utilizando el framework Django.</p>
                 </div>
            </div>
        </div>
       </div>
    </div>
    <a href="/Oncoliq/inicio">Volver</a>
    <br>
    <br>
    <br>
    <br>